* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  font-size: 5em;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: -2em;
  margin-top: 1em;
}

#time {
  font-size: 10em;
  font-family: "Allerta Stencil", sans-serif;
  /* font-family: "Tourney", cursive; */
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5em;
  text-shadow: 5px 5px 5px #000000;
}

#MyColorPicker {
  display: none;
  margin-right: -11em;
}

#time.rainbow {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 9px rgba(255, 255, 255, 0.7);
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

/* RGB Code based on Milan Noheji. Code Snippet on https://codepen.io/nohoid/pen/eYXpNL */

#buttons {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 20em;
  padding-top: 20px;
}
