* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

#title {
  font-size: 5em;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: -2em;
  margin-top: 1em;
}

#time {
  font-size: 10em;
  font-family: "Allerta Stencil", sans-serif;
  /* font-family: "Tourney", cursive; */
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5em;
  text-shadow: 5px 5px 5px #000000;
}

#MyColorPicker {
  display: none;
  margin-right: -11em;
}

button {
  font-size: 1em;
  margin-left: 10px;
}

#time.rainbow {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 9px rgba(255, 255, 255, 0.7);
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

#buttons {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 20em;
  padding-top: 20px;
}

/* Tablet */
@media screen and (min-width: 430px) and (max-width: 850px) {
  #time {
    font-size: 6em;
    text-align: center;
  }
  #buttons {
    font-size: 2.5em;
    margin: 0 0;
    flex-wrap: wrap;
  }
  button {
    font-size: 0.6em;
    padding: 5px;
    margin-left: 15px;
  }
  #buttons input {
    width: 4em;
    height: 25px;
  }
  #MyColorPicker {
    margin-right: -3em;
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  #title {
    font-size: 6em;
    margin-left: 0.7em;
  }
  #time {
    font-size: 5em;
    text-align: center;
    padding-top: 3.5em;
  }

  #buttons {
    font-size: 3.5em;
    margin: 0px 1em;
    margin-top: 35px;
    flex-wrap: wrap;
    text-align: center;
  }
  #buttons input {
    width: 18em;
    height: 25px;
  }
  /* #buttons label {
    margin-left: -12px;
  } */
  #light-dark,
  #rgb {
    margin-bottom: 0.3em;
  }
  #MyColorPicker {
    margin-right: 0em;
  }
  button {
    font-size: 0.5em;
    margin-top: 5px;
    margin-left: 0;
  }
}
